.box{
    max-height: 100px;
    border: 1px solid black;
    overflow: scroll;
}

#div1{
    border: 1px solid black;
    height: 50px;
    overflow: visible;
    overflow: hidden;
    overflow: auto;
    margin: 10px;
}